1stChallenge/MaskDataset/**
1stChallenge/classification_experiments/**
2ndChallenge/Development_Dataset/**
2ndChallenge/starting_kit/**
3rd Challenge/VQA_Dataset/**
3rd Challenge/glove.6B/**
VQA_LSTM_CNN/**
3rd Challenge/C/**